.header {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.15);
  z-index: 999;
  .container{
    display: flex;
    margin: 0 310px 0 125px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    height: 48px;
    display: flex;
    align-items: center;
    img {
      height: 100%;
    }
  }
  .tool {
    display: flex;
    align-items: center;
    .avatar {
      margin-left:20px;
    }
  }
}
